main{
    section{
        flex-direction: column;
        text-align: center;
        form{
            padding :100px 0;
            width: 30%;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            input{
                margin:1em;
                padding: 10px;
                border-radius: 100px;
                box-shadow: 3px 3px 10px black;
                border: none;
            }
        }
    }
}