main section {
  padding: 4em 0;
}

main section h2 {
  text-align: center;
  padding-bottom: 4em;
}

main section table {
  border-radius: 100px;
  border-collapse: collapse;
  width: 100%;
}

main section table tr th {
  color: white;
  text-align: center;
  background-color: slategray;
  padding: 10px;
}

main section table tr td {
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

main section table tr td input {
  padding: 10px;
  border: none;
}
