main{
    section{

        padding: 4em 0;
        h2{
            text-align: center;
            padding-bottom: 4em;
        }
        table{
            border-radius: 100px;
            border-collapse: collapse;
            width: 100%;
            tr{

                th{
                    color: white;
                    text-align: center;
                    background-color: slategray;
                    padding: 10px;
                }
                td{
                    input{
                        padding: 10px;
                        border: none;
                    }
                    border-collapse: collapse;
                    padding: 10px;
                    text-align: center;
                    
                }

            }
        }
    }
}